# Python
__pycache__/
*.py[cod]
.venv/

# Data & embeddings
data/
vector_db/
vector_db.old*/
vector_db_*/

# Secrets
.env

data/raw/*.DS_Store

# macOS Finder metadata
*.DS_Store

# precision recall results
precision_recall_results

# eval_retriever first version
scripts/eval_retriever.py